<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="bookService" class="com.cnpat.pdsc.service.BookService">
		<property name="ht" ref="manageHibernateTemplete" />
	</bean>

	<bean id="updateSummaryService" class="com.cnpat.pdsc.service.UpdateSummaryService">
		<property name="ht" ref="manageHibernateTemplete" />
	</bean>

	<bean id="updateDetailService" class="com.cnpat.pdsc.service.UpdateDetailService">
		<property name="xmlRootPath">
			<value>${pdsc.patentXMLRootPath}</value>
		</property>
		<property name="tmpRootPath">
			<value>${pdsc.tempPath}</value>
		</property>
		<property name="dataht" ref="dataHibernateTemplete" />
	</bean>
</beans>